body{
    padding: 0%;
    margin: 0%;
}

main{
    margin: auto;
    width: 980px;
    position: relative
}    

.logo{
    width: 1000px;
    display: block;
    margin-right: auto;
    margin-top: 100px;
    padding: 11px;
}

.redes-sociais ul li{
    display: inline-block;
    width: 100px;
    margin-left: 30px;
    list-style: none;
}

.redes-sociais{
    margin-left: 220px;
}
h1{
    text-align: center;
    margin: 50px;
}