@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body{
    padding: 0;
    font-family: 'Noto Sans, sans-serif';
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.logo{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais ul li{
    width: 100px;
    display: inline-block;
    list-style: none;
}

.redes-sociais{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.rede:hover{
    background-color: gray;
    border-radius: 20px;
}

@media only screen and (max-width: 950px){
    .logo{
        width: 80%;
    }

   .rede{
        width: 30px;
    }
}
